@model ItauProjeto.Models.ModelCliente
@{
    ViewBag.Title = "Editar dados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<div id="ajaxPartial">
    @Html.Partial("LayoutAjaxExcluirCliente", Model)
</div>
<div class="container-fluid centerSize">
    <div class="row">
        <div class="jumbotron">
            <h1>Atualização de dados cadastrais</h1>
            <div>Atualize o seu email e senha de acesso.</div>
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm())
            {
            <div class="col-md-6 center">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @if (Model != null && !string.IsNullOrEmpty(Model.id.ToString()))
                {
                    @Html.HiddenFor(model => model.id)
                }
                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email, null, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="form-group">
                    Nova @Html.LabelFor(model => model.Senha)
                    @Html.TextBoxFor(model => model.Senha, null, new { @Value = "", @class = "form-control", type = "password" })
                    @Html.ValidationMessageFor(model => model.Senha)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmarSenha)
                    @Html.TextBoxFor(model => model.ConfirmarSenha, null, new { @class = "form-control", type = "password" })
                    @Html.ValidationMessageFor(model => model.ConfirmarSenha)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SenhaAtual)
                    @Html.TextBoxFor(model => model.SenhaAtual, null, new { @class = "form-control", type = "password" })
                    @Html.ValidationMessageFor(model => model.SenhaAtual)
                </div>
                <div class="clear"></div>
                <a href="@Url.Action("Index", "Portal", new { id = Model.id })" class="btn btn-danger fRightButton">Cancelar</a>
                <input type="submit" class="btn btn-success fRightButton marginRight" value="Atualizar">
            </div>
        }
    </div>
</div>
